.new-share h2 {
  overflow: hidden;
  text-align: center;
  margin-bottom: 44px;
}

.new-share h2:before,
.new-share h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.new-share h2:before {
  right: 0.5em;
  margin-left: -55%;
}

.new-share h2:after {
  left: 0.5em;
  margin-right: -55%;
}

.new-share .butn {
  margin-top: 50px;
  margin-bottom: 75px;
  text-align: center;
  margin: 0 auto;
}
