.br {
    line-height: 150%
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

h2 {
    text-align: center;
    font-size: 15px
}

p {
    text-align: center
}

h1 {
    font-size: 50px;
    font-family: Helvetica, Sans-Serif;
    margin: auto;
    text-align: center;
    margin-bottom: 20px
}

img {
    max-width: 100%;
    height: auto
}

header {
    position: relative;
    height: 450px;
    overflow: hidden
}

.header-section {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    transform: skewY(6deg);
    transform-origin: top right
}

header h1 {
    color: #fff;
    font-size: 40px
}

header h2 {
    color: #fff;
    margin-top: 69px;
    font-size: 20px
}

header p {
    color: #fff;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 30px
}

.btn-group {
    margin-left: 25%
}

@media (max-width:576px) {
    header h1 {
        text-align: left;
        margin-left: 10px
    }

    header h2 {
        text-align: left;
        margin-left: 10px
    }

    header p {
        text-align: left;
        margin-left: 10px
    }
}

.button-classic {
    margin: 15px
}

.btn-block,
.button-classic,
.button-classic-share,
.button-more,
.button-share {
    display: inline-block;
    padding: 10px 35px 10px 35px;
    border: 0;
    border-radius: .317rem;
    background-color: #4b0547;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    z-index: 1;
    font-size: 12px;
    left: 30px
}

.button-classic-share {
    padding: 10px 55px 10px 55px
}

.button-classic:hover {
    opacity: .85
}

.button-more {
    margin-top: 20px;
    margin-bottom: 90px;
    padding: 10px 70px 10px 70px
}

.button-share {
    margin-top: 60px !important;
    margin-bottom: 40px;
    padding: 10px 65px 10px 65px;
    display: block;
    margin: auto
}

.button-classic:active {
    box-shadow: inset 0 3px 4px hsla(300, 94%, 12%, .2)
}

.button-classic:focus {
    outline: thin dotted #59055c;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.help-section h1 {
    font-size: 20px !important;
    text-align: left
}

.help-section p {
    text-align: left;
    font-size: 12px;
    margin-top: 30px
}

.help-section label {
    font-size: 12px !important
}

.form-control {
    padding: .3rem .75rem !important
}

.form-check-input {
    position: absolute;
    margin-top: .3rem !important;
    margin-left: 0 !important
}

.select-section h2 {
    overflow: hidden;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px
}

.select-section h2:after,
.select-section h2:before {
    background-color: #242424;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%
}

.select-section h2:before {
    right: .5em;
    margin-left: -55%
}

.select-section h2:after {
    left: .5em;
    margin-right: -55%
}

.select-section .butn {
    margin-top: 52px;
    margin-bottom: 152px;
    margin-left: 40%
}

.new-share h2 {
    overflow: hidden;
    text-align: center;
    margin-bottom: 44px
}

.new-share h2:after,
.new-share h2:before {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%
}

.new-share h2:before {
    right: .5em;
    margin-left: -55%
}

.new-share h2:after {
    left: .5em;
    margin-right: -55%
}

.new-share .butn {
    margin-top: 50px;
    margin-bottom: 75px;
    text-align: center;
    margin: 0 auto
}

footer {
    position: relative;
    height: 293px;
    overflow: hidden
}

.footer-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#ff9d2f, #ff6126);
    transform: skewY(-5deg);
    transform-origin: top right;
    z-index: -1
}

.footer-title {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    margin-top: 180px
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 70%
}

.card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
}

.card>.card-inner {
    padding: 10px
}

.card .header h2,
h3 {
    margin-bottom: 0;
    margin-top: 0
}

.card .header {
    margin-bottom: 5px
}

.prod-descri {
    font-size: 12px
}

.prd-photo {
    width: 100%
}

.prod-name {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-align: left
}

.prod-newvalue {
    text-align: left;
    font-size: 20px;
    margin-top: -15px
}

.prod-oldvalue {
    text-align: left
}

.prod-descri {
    text-align: left
}

.prod-vezes {
    text-align: left;
    font-size: 12px;
    margin-top: 5px
}

.btn-default {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer
}

.prod-card {
    width: 20% !important;
    display: inline-block;
    margin-left: 30px;
    padding-bottom: 10px
}

@media (max-width:780px) {
    .prod-card {
        width: 100% !important;
        display: block;
        margin: 0 auto
    }
}


@media (max-width:780px) {
    .prod-descri {
        display: none;
    }

    .prod-card {
        padding: 20px;
        margin: 40px auto;
        background-color: #fff;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        width: 100% !important;
        float: left;

    }

    .prd-photo {
        width: 40%;
        float: left;
    }

    .btn-default,
    .prod-name,
    .prod-oldvalue,
    .prod-vezes,
    .prod-newvalue {
        float: right;

    }

    .prod-newvalue {
        text-align: left;
        float: left;
        margin-left: 10px;
    }

    .btn-default {
        width: 50%;
        top: 70px;
    }

    .prod-name {
        text-align: left;
        float: left;
        margin: 0 auto !important;
        margin-left: 10px !important;
    }

    .prod-oldvalue {
        bottom: 30px;
        text-align: left;
        float: left;
        margin-left: 10px;
    }

    .prod-vezes {
        float: left;
        margin-left: 10px;

    }
}